@model UpdateGalleryCommand
@{
    ViewData["Title"] = "Galery Güncelleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container top-entete mb-2">
    <div class="d-flex justify-content-center">
        <div class="d-flex align-items-center">
            <h4 class="text-primary" style="line-height:15px"><i class="fa-solid fa-plus me-2"></i>Galery Güncelleme İşlemi </h4>
        </div>
    </div>
</div>

<div class="container formulaire mt-3">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="@Model.Id" />
        <input type="hidden" asp-for="@Model.ImageUrl" />
        <span class="text-danger my-1" asp-validation-for="@Model.ImageUrl"></span><br />
        <label class="form-label me-1 mt-3">Görsel</label>
        <input type="file" asp-for="@Model.ImageFile" class="form-control" placeholder="Görsel Yükleyin">
        <span asp-validation-for="@Model.ImageFile" class="text-danger"></span><br />
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-success" type="submit">
                <i class="fa-solid fa-edit me-2"></i>Güncelle
            </button>
        </div>
    </form>
</div>


