@model GetSocialMediaByIdQueryResult
@{
    ViewData["Title"] = "Sosyal Güncelleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container top-entete mb-2">
    <div class="d-flex justify-content-center">
        <div class="d-flex align-items-center">
            <h4 class="text-primary" style="line-height:15px"><i class="fa-solid fa-plus me-2"></i>Sosyal Güncelleme İşlemi </h4>
        </div>
    </div>
</div>

<div class="container formulaire mt-3">
    <form method="post">
        <input type="hidden" asp-for="@Model.Id" />
        <label class="form-label me-1 mt-3">Sosyal Medya Adı</label>
        <input type="text" asp-for="@Model.Name" class="form-control" placeholder="Marka Adı Giriniz">
        <span asp-validation-for="@Model.Name" class="text-danger my-1"></span><br />

        <label class="form-label me-1 mt-3">Link</label>
        <input type="text" asp-for="@Model.Link" class="form-control" placeholder="Tel No giriniz" />
        <span asp-validation-for="@Model.Link" class="text-danger my-1"></span>

        <label class="form-label me-1 mt-3">Ikon</label>
        <input type="text" asp-for="@Model.Icon" class="form-control" placeholder="Tel No giriniz" />
        <span asp-validation-for="@Model.Icon" class="text-danger my-1"></span>

        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-primary" type="submit">
                <i class="fa-solid fa-plus me-2"></i>Güncelle
            </button>
        </div>
    </form>
</div>

